<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<%-include('./partials/header')%>
		
		<main>
			<!-- Banner -->
			<div class="banner">
				<iframe class="banner-img" title="Chanel Makeup" width="1600px" height="340px" scrolling="no " frameborder="45" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen" xr-spatial-tracking="" execution-while-out-of-viewport="" execution-while-not-rendered="" web-share="" src="https://sketchfab.com/models/6ebed1875087472c9b846c504560c5b4/embed" alt='Banner'></iframe>
			</div>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Novedades</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<% for(let i=0; i<8; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/id/<%= product[i].id %>">
									<figure class="product-box_image">
										<img src=<%=product[i].image%> alt="<%=product[i].name%>">
									</figure>
									<article class="product-box_data">
										<h2><%=product[i].name%></h2>
										<img src="<%=product[i].user.profilePicture%>" alt="">
										<p><%=product[i].user.username%></p>
										<p><%=product[i].shortDescription%></p>
										<p>Comentarios: <%=product[i].comments.length%></p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				</div>
			</div>
		</main>
		
		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>	
</html>