<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>	
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>
		
		
		<main>
			<!-- Product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title"><%= product.name%></h2> 
					<p class="product-detail-description">
						<a href="/products/edit">Editar</a>
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img class="product-detail-img" src=<%=product.image%> alt="<%=product.name%>" >
							<p class="product-detail-description">
								<%=product.longDescription%>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for(let i=0; i<comments.length; i++){ %>
									<%let userId
									<article>
										<img src='<%=comments[i].user.profilePicture%>'  alt="">
										<div class="data">
											<p class="user">
											<strong> <a href="/profile"><%=comments[i].user.username
												%></a> </strong>
											</p>
											<p class="user"><%=comments[i].comment%></p>
										</div>
									</article>
								<% } %>
							</section>

							<form class="form" action="/products/id/<%= product.id %>" method="GET">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="button-send">Enviar comentario</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>	
</html>