<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>	
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<% } %>
		
		
		<main>
			<!-- Product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title"><%= product.name %></h2>
					<% if (locals.user != undefined && locals.user.id == product.user.id) { %> <!--Chequeamos si hay un usuario logeado y chequeamos si el usuario logeado es el mismo que el dueño del producto-->
							<p class="product-detail-description">
								<a href="/products/edit/<%= product.id %>">Editar</a>
							</p>
						<form class="form" action="/products/delete/" method="POST">
							<input type="hidden" name="id" value="<%=product.id%>"> <!-- ver si de esta forma esta tomando el id del usuario-->
							<button type="submit" class="buy-now-button">Eliminar</button>
						</form>
					<% } %>		
				</div>

				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<h3 class="product-detail-description"><a href="/profile/id/<%=product.user.id%>"><%= product.user.username %></a></h3>
							<img class="product-detail-img" src=<%=product.image %> alt="<%=product.name%>" >
							<% if (locals.user != undefined) { %>
								<form class="form" action="/products/id/<%=product.id%>" method="POST">
									<input class="form-input" type="hidden" value="sí" placeholder="" name="likear">
									<button class="likear"><i class="fa-regular fa-heart fa-beat fa-2xl emptyHeart" style="color: #5e3f43;"></i></button>
								</form>	
								<% } %>
							<p class="product-detail-description">
								<%=product.longDescription%>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for(let i=0; i<product.comments.length; i++){ %>
									<article>
										<a href="/profile/id/<%=product.comments[i].user.id%>"><img src='<%=product.comments[i].user.profilePicture%>'  alt="imagen de perfil del usuario"></a>
										<div class="data">
											<p class="user">
											<strong> <a href="/profile/id/<%=product.comments[i].user.id%>"><%=product.comments[i].user.username
												%></a> </strong>
											</p>
											<p class="user"><%=product.comments[i].comment%></p>
										</div>
									</article>
								<% } %>
						

								<% if (locals.user != undefined) { %>
									<form class="form" action="/products/comment/<%=product.id%>" method="POST">
										<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comment">
										<button type="submit" class="button-send" id="sendComment">Enviar comentario</button>
									</form>
								<% } else{ %>
									<button type="submit" class="button-send">Es necesario iniciar sesión para comentar</button>
									<h3>¿Aún no tienes una cuenta? <a href="/profile/register">Regístrate</a></h3>
									<h3>¿Ya tienes una cuenta? <a href="/profile/login">Ingresá</a></h3>
								<% } %>
							</section>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>	
</html>