<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>	
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<% } %>
		
		
		<main>
			<!-- Product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title"><%= product.name %></h2>
					<h3 class="product-detail-description"><a href="/profile"><%= product.user.username %></a></h3>
					<% if (locals.user != undefined && locals.user.id == product.user.id) { %> <!--Chequeamos si hay un usuario logeado y chequeamos si el usuario logeado es el mismo que el dueño del producto-->
							<p class="product-detail-description">
								<a href="/products/edit/<%= product.id %>">Editar</a>
							</p>
						<form class="form" action="/products/delete" method="POST">
							<button type="submit" class="buy-now-button">Eliminar</button>
						</form>
					<% } %>		
				</div>

				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img class="product-detail-img" src=<%=product.image %> alt="<%=product.name%>" >
							<p class="product-detail-description">
								<%=product.longDescription%>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for(let i=0; i<product.comments.length; i++){ %>
									<article>
										<img src='<%=product.comments[i].user.profilePicture%>'  alt="">
										<div class="data">
											<p class="user">
											<strong> <a href="/profile"><%=product.comments[i].user.username
												%></a> </strong>
											</p>
											<p class="user"><%=product.comments[i].comment%></p>
										</div>
									</article>
								<% } %>
							</section>

								<% if (locals.user != undefined) { %>
									<form class="form" action="/products/comment/<%= product.id %>" method="POST">
										<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comment">
										<button type="submit" class="button-send">Enviar comentario</button>
									</form>
								<% } else{ %>
									<form class="form" action="/profile/login" method="GET">
										<input class="form-input" type="text" value="" placeholder="Agregar comentario">
										<button type="submit" class="button-send">Es necesario iniciar sesión para comentar</button>
									</form>	
								<% } %>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>	
</html>