<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head')%>

<body>	
<!-- Include Header -->
<%-include('./partials/header')%>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=product[1].name%></h2> 
			<p class="product-detail-description">
				<a href="/products/add">Agregar producto</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src=<%=product[1].image%> alt="<%=product[1].name%>" class="product-detail-img">
					<p class="product-detail-description">
						<%=product[1].longDescription%>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src='<%=comments[0].profilePicture%>'  alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"><%=comments[0].username%></a> </strong>
								</p>
								<p class="user"><%=comments[0].comment%></p>
							</div>
						</article>
						<article>
							<img src='<%=comments[1].profilePicture%>' alt="" >
							<div class="data">
								<p class="user">
									<strong> <a href="/profile">  <%=comments[1].username%> </a> </strong>
								</p>
								<p class="user"><%=comments[1].comment%></p>
							</div>
						</article>
						<article>
							<img src='<%=comments[2].profilePicture%>' alt="" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%=comments[2].username%></a> </strong>
								</p>
								<p class="user"><%=comments[2].comment%></p>
							</div>
						</article>
						<article>
							<img src='<%=comments[3].profilePicture%>' alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%=comments[3].username%> </a> </strong>
								</p>
								<p class="user"><%=comments[3].comment%></p>
							</div>
						</article>
						<article>
							<img src='<%=comments[4].profilePicture%>'  alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%=comments[4].username%></a> </strong>
								</p>
								<p class="user"><%=comments[4].comment%></p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<!-- Include Footer -->
<%-include('./partials/footer')%>
</body>	

</html>