<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>

		<!-- Formularaio -->
		<main class="container">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
						<% if (locals.errors) { %>
								<p class="error"><%= locals.errors.message %></p>
						<% } %>
					</div>
				</div>

				<form class="form-register" action="/products/add" method="POST">
					<input class="controls" type="text" name="image" id="image" placeholder="Imagen del producto">
					<input class="controls" type="text" name="name" id="name" placeholder="Nombre del producto">
					<input class="controls" type="text" name="longDescription" id="longDescription" placeholder="Descripción detallada">
					<input class="controls" type="text" name="shortDescription" id="shortDescription" placeholder="Descripción breve">
					<button class="button-send" type="submit">Enviar</button>
				</form>	
			</div>
		</main>	

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>