<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<%-include('./partials/headerLogueado')%>

		<!-- Formulario  -->
		<main class="container">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					</div>
				</div>

				<form class="form-register" action="/profile/edit/<%= user.id %>" method="POST">
					<input class="controls" type="text" name="username" id="username" placeholder="Nombre de usuario" value="<%= user.username %>">
					<input class="controls" type="email" name="email" id="email" placeholder="Email" value="<%= user.email %>">
					<input class="controls" type="password" name="password" id="password" placeholder="Contraseña" value="<%= user.password %>">
					<input class="controls" type="date" name="bDate" id="bDate" placeholder="Fecha de nacimiento" value="<%= user.bDate %>">
					<input class="controls" type="tel" name="phone" id="phone" placeholder="Teléfono" value="<%= user.phone %>">
					<input class="controls" type="numbers" name="dni" id="dni" placeholder="DNI" value="<%= user.dni %>">
					<input class="controls" type="text" name="profilePicture" id="profilePicture" placeholder="Imagen de perfil" value="<%= user.profilePicture %>">
					<button class="button-send" type="submit">Guardar cambios</button>
				</form>
			</div>
		</main>

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>