<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>

		<!-- Formulario  -->
		<main class="container">
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Regístrate</h2>
						<% if(locals.errors){ %>
							<p class="products-title"><%= errors.message %></p>
						<% } %>
					</div>
				</div>
				
				<form class="form-register" action="/profile/register" method="POST"> 
					<input class="controls" type="text" name="username" id="username" placeholder="Nombre de usuario">
					<input class="controls" type="email" name="email" id="email" placeholder="Email">
					<input class="controls" type="password" name="password" id="password" placeholder="Contraseña">
					<input class="controls" type="date" name="bDate" id="bDate" placeholder="Fecha de nacimiento">
					<input class="controls" type="tel" name="phone" id="phone" placeholder="Teléfono">
					<input class="controls" type="numbers" name="dni" id="dni" placeholder="DNI">
					<input class="controls" type="texto" name="profilePicture" id="profilePicture" placeholder="Imagen de perfil">
					<button class="button-send" type="submit">Registrarme</button>
				</form>
			</div>

			<h3>¿Ya tienes una cuenta? <a href="/profile/login">Ingresá</a></h3> 

		</main>
				
		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>