<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<% if (locals.user != '') { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>

		<main>
			<!-- Buscador de usuarios -->
			<div class="col-7">
                <form class="searchUsers-form" action="/profile/searchresults" method="GET">
                    <input type="search" name="search" value='' placeholder="Buscar usuarios" class="searchUsers-form_input">
                    <button type="submit" class="searchUsers-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
			
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<!-- Show mis productos -->
					<% if (resultsUser != '' ) {%>
						<div class="col-12">
							<h2 class="products-title">Resultados de búsqueda para: <%= results %></h2>
						</div>
					<% for(let i=0; i<resultsUser.length; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/profile/id/<%= resultsUser[i].id %>">
									<figure class="product-box_image">
										<img src=<%=resultsUser[i].profilePicture%> alt="<%=resultsUser[i].username%>">
									</figure>
									<article class="product-box_data">
										<h2><%=resultsUser[i].username%></h2>
										<p><%=resultsUser[i].email%></p>
										<p><%=resultsUser[i].products.length%> productos</p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% }else {%>
					<div class="col-12">
						<h2 class="products-title">No hay resultados para: <%= results %></h2>
					</div>
					<h3 class="noSearchResult">Intenta de nuevo con otro nombre</h3>
				<%}%> 
				</div>
			</div>
		</main>

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>