<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<% if (locals.user != '') { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>

		<main>
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<!-- Show mis productos -->
					<% if (user != '' ) {%>
						<div class="col-12">
							<h2 class="products-title">Resultados de búsqueda para: <%= results %></h2>
						</div>
					<% for(let i=0; i<user.length; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/profile/id/<%= user[i].id %>">
									<figure class="product-box_image">
										<img src=<%=user[i].profilePicture%> alt="<%=user[i].username%>">
									</figure>
									<article class="product-box_data">
										<h2><%=user[i].username%></h2>
										<p><%=user[i].email%></p>
										<p><%=user[i].products.length%> productos</p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% }else {%>
					<div class="col-12">
						<h2 class="products-title">No hay resultados para: <%= results %></h2>
					</div>
					<h3 class="noSearchResult">Intenta de nuevo con otro nombre</h3>
				<%}%> 
				</div>
			</div>
		</main>

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>