<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%-include('./partials/head')%>

	<body>
		<!-- Include Header -->
		<% if (locals.user != undefined) { %>
			<%-include('./partials/headerLogueado')%> 
		<% } else { %>
			<%-include('./partials/header')%>
		<%}%>

		<main>
			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<!-- Show mis productos -->
					<% if (product !='' ) {%>
						<div class="col-12">
							<h2 class="products-title">Resultados de búsqueda para: <%= results %></h2>
						</div>
					<% for(let i=0; i<product.length; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/id/<%= product[i].id %>">
									<figure class="product-box_image">
										<img src=<%=product[i].image%> alt="<%=product[i].name%>">
									</figure>
									<article class="product-box_data">
										<h2><%=product[i].name%></h2>
										<p><%=product[i].shortDescription%></p>
										<p>Comentarios: <%=product[i].comments.length%></p>
										<a href="/profile/id/<%=product[i].user.id%>">Creador: <%=product[i].user.username%></a>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% }else {%>
					<div class="col-12">
						<h2 class="products-title">No hay resultados para: <%= results %></h2>
					</div>
					<h3 class="noSearchResult">Intenta de nuevo con otra palabra</h3>
				<%}%> 
				</div>
			</div>
		</main>

		<!-- Include Footer -->
		<%-include('./partials/footer')%>
	</body>
</html>